@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/ROBOTO-LIGHT.TTF') format('truetype');
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: 'Roboto-Light';
}

button {
  font-family: 'Roboto-Light';
}

h1 {
  color: white
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto-Light'
}

.guesscontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99vw;
  /* height: fit-content; */
  height: 40vh;
  padding-top: 1vh;

}

.messagebox{
  display: flex;
  flex-direction: row;
  width: 99%;
  height: 9vh;
  
}

.messageComponents{
  display: flex;
  height: 99%;
  width: 33%;
  font-size: 3vh;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wordcontainer{
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  width: fit-content;
  height: fit-content;
}

.lettercontainer{
  display: flex;
  width: 12vw;
  height: 10vw;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid gray;
  background-color: gray;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4vh;
  border-radius: 10vh;
  transition: color 1s ease, border-color 1s ease;
  
}

.alphabet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100vw;
  height: 15vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.alphabetrows{
  width: 98vw;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.alphabetletters{
  display: flex;
  width: 10%;
  height: 99%;
  text-align: center;
  justify-content: center;
  background-color: gray;
  color: white;
  transition: color 1s ease;
  font-size: 4vh;
  border-radius: 1vh;
  font-family: 'Roboto-Light';
}

.alphabetletters.wide{
  width: 15%
}

.alphabetletters.green{
  color: rgb(6, 216, 6);
}

.alphabetletters.red{
  color: red
}

.alphabetletters.yellow{
  color: yellow
}

.alphabetletters.purple{
  color: rgb(193, 2, 193)
}

.alphabetletters.transparent{
  color: transparent
}

.player-scores{
  display: grid;
  text-align: center;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
  color: white;
  font-size: 4vw;
  width: 98%;
  height: 14vh;
  font-family: 'Roboto-Light';
}

.player-scores div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lettercontainer.transparent{
  border: 1px solid transparent;
  background-color: black;
}

.lettercontainer.green{
  color: rgb(6, 216, 6);
  border-color: green;
}

.lettercontainer.yellow{
  color: yellow;
  border-color: yellow
}

.lettercontainer.red{
  color: rgb(160, 5, 5);
  border-color: rgb(160, 5, 5);
}

.lettercontainer.purple{
  color: purple;
  border-color: purple;
}

.lettercontainer.current{
  border-color: gray;
  background-color: gray;
}

.buttonContainer{
  height: 19vh;
  display: flex;
  flex-direction: column;
  width: 99%;
}

.buttonContainer button{
  height: 33%;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  border-radius: 1vh;
  font-family: 'Roboto-Light';
  color: white;
  background-color: gray;
  margin-top: 1vh;
} 

.roundhighlighter{
  color: rgb(6, 97, 29); 
  background-image: radial-gradient(closest-side ,white, black);
  border-radius: 4vh
}
